/*
 * MW kit   24 columns  5 resolutions
 *
*/

/*
 *  Structure - 24 columns grid
 *
 */

/*
 *  Классы для 5 размеров устройств
 *  5 devices classes 

.hd_	High Definition		Широкоформатные мониторы
.ds_	Desktop				Настольные мониторы небольшие, ноутбуки, нетбуки
.tb_	Tablets				Планшеты
.mh_	Mobile Horizontal	Мобильные в горизонтальном положении
.mv_	Mobile Verical 		Мобильные в вертикальном положении

 */

/*
 * 1. Структурные элементы
 * 2. Модульная сетка
 * 3. Текст
 * 4. UI интерактивные
 * 5. Формы
 * 6. Модальные окна
 *
 *
*/
@import "grid.css";
@import "text.css";
/* 1. Структурные элементы */

.section{ float : left; width : 100%; clear : both; }
.container{ 
	margin : 0 auto; 
	width : 100%; min-width : 300px; max-width : 1200px; 
	padding : 0 10px; 
	box-sizing : border-box; position : relative; 
}
.container-elastic{ width : 100%; padding : 0 10px; position : relative; }

/* 1.1 Горизонтальное структурирование (Представление/отображение) */
.row{ margin-left : -10px; margin-right : -10px; }
.row-line{ margin-left : -10px; margin-right : -10px;  font-size: 0;  }
.row-flexbox{ display : flex;  } 
.row-table{ margin-left : -10px; margin-right : -10px; }
/* 1.1.1 block */
.row>div{ float : left; }

.row.row-reverse>div{ float : right; }
/* 1.1.2 inline-block  */
.row-line>div{ float : none; display : inline-block;}

.row-line.middle>div{ vertical-align : middle;  }
.row-line.top>div{ vertical-align : top; }
.row-line.bottom>div{ vertical-align : bottom; }
.row-line.baseline>div{ vertical-align : baseline; }

.row-line.row-reverse{ direction : rtl; }
.row-line.row-reverse>div{ direction : ltr; }
/* 1.1.3 flex */
.row-flexbox{ display : flex; margin-left : -10px; margin-right : -10px; } 

.row-flexbox.middle{ align-items : center; }
.row-flexbox.top{ align-items : flex-start; }
.row-flexbox.bottom{ align-items : flex-end; }
.row-flexbox.baseline{ align-items : baseline; }
.row-flexbox.stretch{ align-items : stretch; }

.row-flexbox.row-reverse{
	flex-direction : row-reverse;
}
.row-flexbox.column-reverse{
	flex-direction : column-reverse;
}

/* 1.1.4 table */
.row-table{ //display : table; width : 100%; }

.row-table>div{ display : table-cell; }

.row-table.middle>div{ vertical-align : middle; }
.row-table.top>div{ vertical-align : top; }
.row-table.bottom>div{ vertical-align : bottom; }
.row-table.baseline>div{ vertical-align : baseline; }


[class*="hd_"],
[class*="ds_"],
[class*="tb_"],
[class*="mh_"],
[class*="mv_"]
{ 
	box-sizing : border-box; 
	padding-left : 10px; 
	padding-right : 10px;
	position : relative; 
}


/* 2. Модульная сетка */
@import "grid.css";
body{
	font-family : Arial;
	/* font-family : "Lucida Sans Unicode";	font-family : "Proxima Nova";	font-family : "Trebuchet MS";	font-family : "Tahoma";	font-family : "Verdana"; */
}


/* 3. Text */
@import "text.css";





